@import '../../styles/foundations.module.scss';

.wrapper {
  background: var(--color-app);
}

.main {
  width: 100%;
  position: relative;
  z-index: 9;
  margin-top: -40vh;
}

.infoContainer {
  padding-bottom: 40%;
  position: relative;

  @media screen and (min-width: 480px) {
    padding-bottom: 5%;
  }
}

.spotlightContainer {
  background: var(--color-sheet100);
}
