@import '../../styles/foundations.module.scss';

.hero {
  text-align: center;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 25%;
  padding-bottom: 5%;
}

@media screen and (min-width: 600px) {
  .hero {
    padding-top: 15%;
  }
}
