html {
  background: rgba(0,0,0,0.05);
  background-color: #f2f2f2;
}

body {
  font-family: -apple-system, BlinkMacSystemFont,
    “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”,
    “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
    sans-serif;;
  font-weight: normal;
  font-size: 18px;
  color: #1f3033;
  background-color: #FFF;
}

.wrapper {
  background-image:  url('../images/blue.svg'), url('../images/light.svg');
  background-position: top 30vh right -70vw, top 140vh left -70vw;
  background-size: 100vw, 100vw;
  background-repeat: no-repeat;
}

@media screen and (min-width: 480px) {
  body {
    background-position: top right -70vw, top 80vh left -70vw;
  }
}
