$tertiary: #e03f7f;

$secondary: #f7ee61;

$primary: #3073DF;

$neutral50: #f5f6fb;
$neutral100: #f3f5f9;
$neutral200: #e4e7ec;
$neutral300: #aebdd6;
$neutral500: #6A768A;
$neutral700: #39455f;

$highlight: #fdf4d5;

$body: #1f3033;
