@import '../../styles/foundations.module.scss';

.label {
  text-transform: uppercase;
  background: rgba($neutral200,0.5);
  background: $neutral100;
  line-height: 1;
  padding: 0 12px;
  height: 32px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  letter-spacing: 0.03em;
  font-weight: bold;
  margin-top: 48px;
  &:first-of-type {
    margin-top: 0;
  }
}

.inverted {
  background: rgba($neutral300,0.2);
  // background: none;
  // color: #FFF;
  &:after {
    background: rgba(#FFF, 0.5);
  }
}
