@import '../../styles/foundations.module.scss';

.content {
  position: relative;
  background-color: var(--color-sheet);
  background-size: 40%;
  background-position: top -15% right;
  background-repeat: no-repeat;
  color: inherit;
  text-decoration: none;
  display: flex;
  flex: 1;
  border-radius: 16px;
  margin: 16px;
  min-width: 90%;
  transition: transform 400ms linear, box-shadow 400ms linear;
  box-shadow:
    0 4px 12px -8px rgba(#000, 0.1),
    0 -4px 24px -4px rgba(#000, 0.1)
  ;
  overflow: hidden;

  @media screen and (min-width: 900px) {
    min-width: 40%;
    margin: 32px;
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-sheet200);
  }
}

.body {
  padding: 24px;
  line-height: 1.6em;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
  @media screen and (min-width: 480px) {
    padding: 32px;
  }
  .lead {
    margin-top: 16px;
    margin-bottom: 0;
    padding-right: 40%;
  }
}

.labelContainer {
  display: inline-block;
}

.interactive .body {
}
.interactive:focus {
  box-shadow: 0 0 0 4px rgba(var(--color-primary), 0.5);
  outline: none;
}
.content.interactive:hover {
  transform: translateY(-4px);
  transition: all 100ms linear;
  box-shadow:
    0 6px 18px -10px rgba(#000, 0.4),
    0 -8px 32px -8px rgba(#000, 0.05)
  ;
  .cta {
    .arrow {
      transform: translate3d(8px, 0, 0);
    }
  }
}

.preview {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 40%;
  border-radius: 0 16px 0 0;
  z-index: 1;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
}

.ctaContainer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.ctaSubtitle {
  display: flex;
  align-items: center;
  font-size: 16px;

  .icon {
    display: block;
    margin-right: 8px;
    width: 24px;
    height: 24px;
  }
}

.cta {
  color: var(--color-primary);
  display: flex;
  align-items: center;
  margin-top: 16px;
  transition: all 100ms ease-in-out;
  z-index: 3;
  font-weight: bold;
  align-items: center;
  cursor: pointer;
  position: relative;
  user-select: none;
  text-decoration: none;
  flex: 1;

  .arrow {
    margin-left: 16px;
    color: var(--color-tertiary);
  }
}
