@import '../../styles/foundations.module.scss';

.footerSection {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 20%;
  padding-bottom: 50%;
  background: var(--color-sheet);
  z-index: 2;
}

.nocopyright {
  text-align: center;
  padding-top: 100px;
}
