* {
  box-sizing: border-box;
}
html {
  background: rgba(0,0,0,0.05);
  background-color: #f2f2f2;
}
body {
  font-family: -apple-system, BlinkMacSystemFont,
    “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”,
    “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
    sans-serif;;
  font-weight: normal;
  font-size: 18px;
  color: #1f3033;
  background-color: #FFF;
  background-image:  url('./images/blue.svg'), url('./images/light.svg');
  background-position: top 30vh right -70vw, top 140vh left -70vw;
  background-size: 100vw, 100vw;
  background-repeat: no-repeat;
}

@media screen and (min-width: 480px) {
  body {
    background-position: top right -70vw, top 80vh left -70vw;
  }
}
strong {
  font-weight: bold;
}

ul {
  li {
    margin: 16px 0;
    position: relative;
    line-height: 1.3;
  }
}

.letterContainer {
  font-size: 160px;
}

h1 {
  font-weight: bold;
  font-size: 26px;
}
.lead,
.cta {
  font-size: 20px;
}
.label {
  font-size: 12px;
}
.sectionHeading {
  font-size: 32px;
  margin: 0;
}

@media screen and (min-width: 320px) {

  body {
    font-size: calc(18px + (24 - 18) * ((100vw - 300px) / (1600 - 300)));
  }

  .lead,
  .cta {
    font-size: calc(20px + (28 - 20) * ((100vw - 300px) / (1600 - 300)));
  }

  .label {
    font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300)));
  }

  .sectionHeading {
    font-size: calc(32px + (48 - 32) * ((100vw - 300px) / (1600 - 300)));
  }

  .letterContainer {
    font-size: calc(160px + (540 - 160) * ((100vw - 320px) / (1600 - 320)));
  }

  h1 {
    font-size: calc(26px + (36 - 32) * ((100vw - 300px) / (1600 - 300)));
  }

}

@media screen and (min-width: 1600px) {

  body {
    font-size: 24px;
  }

  .lead,
  .cta {
    font-size: 28px;
  }

  .label {
    font-size: 14px;
  }

  .sectionHeading {
    font-size: 48px;
  }

  .letterContainer {
    font-size: 540px;
  }

  h1 {
   font-size: 36px;
  }
}


p {
  margin: 1em 0;
  line-height: 1.5em;
}

.wrapper {
  width: 100%;
  max-width: 1600px;
  margin: auto;
}
